// Variables
// -------------------
@base-background: @gray7;
@base-color: @gray2;
@base-font: 'RobotoDraft', "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-font-serif : Georgia, "Times New Roman", Times, serif;
@base-font-mono : 'Source Code Pro', Inconsolata, Consolas, Menlo, Monaco, "Courier New", monospace;
@base-font-size : 16px;
@base-line-height: 20px;
@base-link-color : @brand-primary;
@base-link-color-hover : @brand-primary;
@base-selection-color: fade(@brand-primary, 50%);
@base-radius: @radius;

@base-input-height: 34px;

/**
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications. Removes the default spacing and border for
 * appropriate elements.
 * Only tags selectors are used in this file to build a simple baseline.
 */

html {
    height:                      100%;
    background:                  @base-background;
    color:                       @base-color;
    font-size:                   @base-font-size;
    font-family:                 @base-font;
    font-weight:                 300;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing:      antialiased;
}

body {
    height:     100%;
    min-height: 100%;
}

// Normalize Tweaks
// ---------------------

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
    margin: 0;
}

button {
    background: transparent;
    border:     0;
    padding:    0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
    border:  0;
    margin:  0;
    padding: 0;
}

iframe {
    border: 0;
}

ol,
ul {
    list-style: none;
    margin:     0;
    padding:    0;
}

/**
 * Suppress the focus outline on links that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 */

[tabindex="-1"]:focus {
    outline: none !important;
}

input[type="search"] {
    box-sizing:         border-box;
    -webkit-appearance: none;
}

// Holy Grail
// ------------------------
*, *:before, *:after {
    box-sizing: border-box;
}

// Links
// -------------------------
a {
    color:           @base-link-color;
    text-decoration: none;
    transition:      color ease 300ms;
}

a:hover,
a:focus,
a:active {
    color:           @base-link-color-hover;
    text-decoration: underline;
}

// Selection
// -------------------------
::-moz-selection {
    background:  @base-selection-color;
    text-shadow: none;
}

::selection {
    background:  @base-selection-color;
    text-shadow: none;
}

abbr[title] {
    cursor: help;
}

address {
    font-style: normal;
}

mark {
    background: @base-selection-color;
    color:      @base-color;
}

code,
kbd,
pre,
samp {
    font-family: @base-font-mono;
    font-size:   1rem * 0.85;
}

code {
    margin:           0 2px;
    padding:          1px 5px;
    border:           1px solid #ddd;
    background-color: #f8f8f8;
    border-radius:    @radius;
    white-space:      nowrap;
    vertical-align:   middle;
}

pre {
    overflow: auto;
    display:  block;
    code {
        margin:        0;
        padding:       0;
        background:    transparent;
        border-radius: 0;
        border:        0;
        white-space:   pre;
    }
}

blockquote { font-style: italic }

// Forms
// ------------------------------
fieldset {
    max-width: 100%;
    margin:    0 0 @base-line-height;
    border:    0;
    padding:   0;
}

legend {
    display:       inline-block;
    width:         100%;
    padding:       0 0 5px 0;
    margin-bottom: @base-line-height;
    line-height:   @base-line-height;
    font-weight:   bold;
    border:        0;
    border-bottom: 1px solid @gray6;
    word-wrap:     break-word !important;
    // Small
    small {
        font-size:   75%;
        color:       @gray4;
        line-height: 1;
        font-weight: normal;
    }
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        height: auto;
    }
}

label {
    display:        inline-block;
//    width:          100%;
    max-width:      100%;
    height:         auto;
    line-height:    @base-input-height;
    cursor:         pointer;
    vertical-align: top;
    @media only screen and (min-width: 481px) {
        width: auto;
    }
}

textarea,
select,
input,
output,
button {
    width:            auto;
    max-width:        100%;
    display:          inline-block;
    padding:          6px 12px;
    line-height:      @base-line-height;
    height:           @base-input-height;
    background-color: white; // normalize select background color we start with white
    border:           1px solid fade(@base-color, 30%);
    transition:       border linear .2s;
    vertical-align:   middle;

    &[disabled],
    fieldset[disabled] & {
        pointer-events: none;
        opacity:        .65;
    }

    &[readonly] {
        pointer-events: none;
    }
}

select {
    cursor: pointer;
    outline: 0;
}

select:focus:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input[type="range"] {
    width:     100%;
    max-width: 100%;
    @media only screen and (min-width: 481px) {
        width: auto;
    }
}

textarea {
    display: block;
    height:  auto; // reset to auto cause textarea has rows
    resize:  vertical;
}

input[type="file"] {
    max-width: 100%;
    width:     100%;
    font-size: 14px;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="color"] {
    padding: 0;
    border:  0;
    height:  @base-input-height;
}

input[type="color"] { min-width: @base-input-height; }

input[type="image"] { padding: 0 }
