@npm-path: "../node_modules";
@suit-utils: "../node_modules/suitcss-utils/node_modules";

@import (inline) "@{npm-path}/normalize.css/normalize.css";

// SUIT CSS utilities
// suit css offset util not included for now
@import (inline) "@{suit-utils}/suitcss-utils-align/lib/align.css";
@import (inline) "@{suit-utils}/suitcss-utils-display/lib/display.css";
@import (inline) "@{suit-utils}/suitcss-utils-layout/lib/layout.css";
@import (inline) "@{suit-utils}/suitcss-utils-link/lib/link.css";
@import (inline) "@{suit-utils}/suitcss-utils-position/lib/position.css";
@import (inline) "@{suit-utils}/suitcss-utils-size/lib/size.css";
@import (inline) "@{suit-utils}/suitcss-utils-text/lib/text.css";

@import "variables";
@import "base";

/* Components */
@import "components/test";
@import "components/syntax-dark";
@import "components/grid";
@import "components/nav";
@import "components/icons";

//config
@Header-height: 60px;
@Nav-sidebar-width: 270px;

.Sidebar {
    position:   fixed;
    width:      @Nav-sidebar-width;
    left:       -@Nav-sidebar-width;
    top:        0;
    bottom:     0;
    z-index:    502;
    background: @gray0;
}

.Sidebar-header {
    position:    absolute;
    top:         0;
    left:        0;
    right:       0;
    height:      60px;
    line-height: 60px;
    padding:     0 20px;
}

.Sidebar-scroller {
    position:   absolute;
    top:        60px;
    left:       0;
    right:      0;
    bottom:     0;
    overflow:   hidden;
    overflow-y: auto;
}

.Sidebar ul > li > a {
    display:        block;
    line-height:    50px;
    padding:        0 20px;
    text-transform: uppercase;
    font-size:      0.9rem;
}

.Header {
    position:         fixed;
    top:              0;
    left:             0;
    right:            0;
    z-index:          500;
    height:           @Header-height;
    line-height:      @Header-height;
    padding:          0 20px 0 0;
    font-size:        1rem;
    background-color: fade(@gray6, 95%);

    .Header-title {
        display: inline-block;
        padding: 0 20px 0 20px;
    }
}

.Content {
    position:    absolute;
    top:         0;
    left:        0;
    bottom:      0;
    right:       0;
    margin-top:  60px;
    padding-top: 20px;
}

@media only screen and (min-width: 1025px) {
    .is-openNav .Sidebar {
        left: 0;
    }

    .Sidebar {
        left: -@Nav-sidebar-width;
    }

    .is-openNav .Content {
        left: @Nav-sidebar-width;
    }

    .Content {
        left: 0;
    }

    .is-openNav .Header {
        left: @Nav-sidebar-width;
    }

    .Header {
        left: 0;
    }
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 481px) {
    /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 769px) {
    /* Style adjustments for viewports 768px and over go here */
}

@media only screen and (min-width: 1025px) {
    /* Style adjustments for viewports 1025px and over go here */

}

@media only screen and (min-width: 1281px) {
    /* Style adjustments for viewports 1281px and over go here */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    //@import 'halo/components/print';
}
