<nav class="Sidebar">

    <h1 class="Sidebar-header">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h1>

    <div class="Sidebar-scroller">
        <ul>

            {% assign pages_list = site.pages %}
            {% for node in pages_list %}
                {% if node.title != 'About' and node.title != 'Welcome to Halo' %}
                    <li>
                        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            <li>
                <a class="sidebar-nav-item {% if page.url == '/about/' %}active {% endif %}" href="{{ site.baseurl }}/about/">About</a>
            </li>

            <li>
                <div>
                    <p><a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a></p>
                    <p><a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a></p>
                    <p><span class="sidebar-nav-item">Currently v{{ site.version }}</span></p>

                    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
                </div>
            </li>
        </ul>
    </div>

</nav>

