<!doctype html>
<html lang="">

  {% include head.html %}

  <body>
    {% include header.html %}
    {% include sidebar.html %}
    <div class="Content">
        {{ content }}
    </div>

    <script type="application/javascript" src="{{ "/js/polyfills.js" | prepend: site.baseurl}}"></script>
    <script type="application/javascript" src="{{ "/js/halo-utils.js" | prepend: site.baseurl}}"></script>
    <script type="application/javascript" src="{{ "/js/halo-sidebar.js" | prepend: site.baseurl}}"></script>
    <script type="application/javascript" src="{{ "/js/iscroll.js" | prepend: site.baseurl}}"></script>
    <script>

        window.nav = new HaloSidebar();

        var iscroll = new IScroll('.Sidebar', {
            disableMouse: true,
            mouseWheel: true,
            scrollbars: true
        });
    </script>
  </body>

</html>
