/* ===============================================
                Nav component
   ===============================================*/

.u-enableGPU {
    backface-visibility: hidden;
    perspective:         1000;
    transform:           translate3d(0, 0, 0);
}

.halo-Sidebar {
    .u-enableGPU;
    will-change:                transform;

    user-select:                none;

    &:before {
        position: absolute;
        right:    20px;
        top:      0;
        bottom:   0;
        left:     100%;
        width:    20px;
        height:   100%;
        content:  " ";
    }
}

.halo-Sidebar-content {
    overflow:                   hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y:                 auto;
}

.halo-Sidebar-content.halo-Sidebar--scroller {
    overflow:                   visible;
    overflow-y:                 visible;
    -webkit-overflow-scrolling: touch;
}

.halo-Sidebar-overlay {
    .u-enableGPU;
    position:         fixed;
    top:              0;
    left:             0;
    right:            0;
    bottom:           0;
    height:           100%;
    width:            100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:          501;
    user-select:      none;
    overflow:         hidden;
    pointer-events:   none;
    opacity:          0;
    will-change:      opacity;
}

